<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/ejemplos.css">
  <title>Detalles del Invento</title>
</head>
<body>
  <div class="container">
    <h1 id="titulo-detalles">Detalles del Invento 4</h1>
    <img id="imagen-detalles" src="./assets/Balanza de precisión .JPG" alt="Imagen de prueba">
    <p id="descripcion-detalles"></p>
    <button onclick="window.history.back()">VOLVER</button>
  </div>

  <script src="../js/detalles.js"></script>
</body>
</html>